:root {
  --primarybgcolor: #f7f9fc;
  --secondarybgcolor: #e3eafb;
  --fontcolorblk: #1a1a21;
  --fontcolorgrey: #f0f2f5;
  --btnbgred: #d42620;
  --btnbgblue: #175cff;
  --grey: #98a2b3;
  --secondarygrey: #475367;
  --inputbgcolor: #d0d5dd;
  --iconcolor: #667185;

  /* font size */
  --fs-small: 12px;
  --fs-medium: 14px;
  --fs-large: 16px;
  --fs-x-large: 20px;
  --fs-xx-large: 24px;
}

* {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: var(--primarybgcolor);
}

input {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--inputbgcolor);
  border: none;
  outline: none;
  font-size: var(--fs-medium);
  color: var(--fontcolorblk);
}

.icon {
  color: var(--btnbgblue);
  background-color: none;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--fontcolorblk);
  font-size: var(--fs-small);
  background-color: var(--btnbgblue);
}

.rejectbtn {
  background-color: var(--btnbgred);
  color: white;
}
